<div class="container-fluid my-4 p-3">
    <div class="d-flex flex-nowrap overflow-auto" style="scroll-snap-type: x mandatory;">
        <div class="col-auto">
            <!-- Constrain width and height for a circular card -->
            <div class="card shadow-sm" style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                <div class="card-body p-0 d-flex flex-column align-items-center justify-content-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                        class="rounded-circle" width="100" height="100">
                    <div class="mt-2">
                        <h6 class="mb-0"><%= name %></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>