<%- include('partials/start') %>
    <%- include('partials/nav') %>
        <h1>Artist</h1>
        <br>
        <hr><br>
        <!-- <a href="/">Home</a>
        <br>
        <a href="/music/trending">Trending</a>
        <br>
        <a href="/music/favorites">Favorites</a>
        <br>
        <a href="/music/playlist">Playlists</a> -->

    <%- include('partials/end') %>